# 根据自己情况修改添加
# LLM 模型相关 API
API_KEY = ""
BASE_URL = ""
LLM_MODEL = ""

# ## ModelScope搜索 - 获取API密钥：https://modelscope.cn/
# MODELSCOPE_API_KEY=""
# MODELSCOPE_BASE_URL="https://api-inference.modelscope.cn/v1/"
# MODELSCOPE_MODEL_ID="Qwen/Qwen3.5-397B-A17B" # ModelScope 只能使用 Qwen3.5


# Tools 相关配置

# 得理api 公用的不用改
DELI_APPID="QthdBErlyaYvyXul"
DELI_SECRET="EC5D455E6BD348CE8E18BE05926D2EBE"

# 天气搜索 - 获取API密钥：https://tavily.com/
TAVILY_API_KEY=""

# 网页搜索 - 获取API密钥：https://serpapi.com/
SERPAPI_API_KEY=""
